@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Six+Caps&display=swap');

.logo {
    display: flex;
    font-size: 30px;
    font-family: 'Six Caps', sans-serif;
  }

.strong-red {
  color: rgb(71, 71, 71);
}

.img-space {
  margin-right: 10px;
}
